main {
    background: linear-gradient(rgb(245, 192, 6, 50%), rgb(99, 99, 99, 100%));
    display: flex;
    justify-content: center;
}

.hero--img {
    height: 600px;
}

.hero--image img:hover {
    opacity: 100%;
}
