.releases--menu {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
    margin: 1rem;
}

.release--container {
    height: 15rem;
    width: 15rem;
    margin: 2rem 2rem;
}

.release--img {
    border: 0.5px solid #333;
    width: 100%;
    height: 90%;
}

.release--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.2rem 0.5rem;
    font-family: coanda;
}

.release--info p {
    padding: 0.2rem;
}

.release--overlay {
    font-family: coanda;
    color: black;
    background-color: rgb(185, 183, 183);
    height: 100%;
    display: flex;
    padding: 5rem 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.15s ease-in;
}

.release--overlay-title {
    font-size: 1.2rem;
}

.release--overlay-artist {
    font-size: 1rem;
}

.release--overlay:hover {
    display: flex;
    opacity: .8;
    cursor: pointer;    
}

#do-you-really-mean-it {
    background-image: url('../images/releases/do_you_really_mean_it.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

#beachball {
    background-image: url('../images/releases/beachball.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

#breaks-for-days {
    background-image: url('../images/releases/breaks_for_days.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

#coakley-collabs {
    background-image: url('../images/releases/coakley_collabs.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

#could-this-be-love {
    background-image: url('../images/releases/could_this_be_love.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

#dublin-mannerisms {
    background-image: url('../images/releases/dublin_mannerisims.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

#gaff-music {
    background-image: url('../images/releases/gaff_music.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

#kill-the-ghost {
    background-image: url('../images/releases/kill_the_ghost.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

#this-unruly-kingdom {
    background-image: url('../images/releases/this_unruly_kingdom.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

#underground {
    background-image: url('../images/releases/underground.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

